[user]
	email = denys.mkk@gmail.com
	name = Denys Vasylyshyn
	signingkey = ~/.ssh/github-personal.pub
[includeIf "gitdir/i:~/work/"]
	path = ~/.gitconfig-work
[includeIf "gitdir/i:/mnt/d/projects/work/"]
	path = ~/.gitconfig-work
[includeIf "gitdir/i:~/gsi/"]
	path = ~/.gitconfig-gsi
[includeIf "gitdir/i:/mnt/d/projects/gsi/"]
	path = ~/.gitconfig-gsi
[gpg]
	format = ssh
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[init]
	defaultBranch = main
[diff]
	algorithm = histogram
